.TopStoryMain{
    width: 100%;
    margin-top: 51px;
    background-color: rgb(247, 244, 244);
}
.card{
    border-radius: 0;
    border-width: 1px 0;
    padding: 20px;
    overflow: initial;
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
    box-sizing: border-box;
}

.title{
    font-weight: 500;
    line-height: 1.4;
    font-size: 20px;
    margin-top: -4px;
    margin-bottom: -4px;
    color: #121212;
}

.content{
    font-size: 17px;
    line-height: 1.67;
}

.contentInner{
    max-height: 55px;
    position: relative;
    margin-bottom: 2px;
    font-size: 17px;
    margin-top: 9px;
    overflow: hidden;
}

.contentActions{
    font-weight: 500;
    clear: both;
    background: #fff;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 16px;
    margin: 0 -16px -10px;
    color: #646464;
}

.contentText{
    white-space: normal;
    word-break: break-word;
    line-height: 1.6;
    margin-bottom: 2px;
    font-size: 17px;
}

.contentActions>*{
    flex-shrink: 0;
}

.agreeBtn{
    line-height: 30px;
    padding: 0 12px;
    background: rgba(0,102,255,.1);
    color: #06f;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
}

.disagreeBtn{
    line-height: 30px;
    padding: 0 12px;
    margin-left: 8px;
    background: rgba(0,102,255,.1);
    color: #06f;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 3px;
}

.commentBtn{
    padding-left: 12px;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: inline-block;
    color: #8590a6;
    text-align: center;
}

.withBtn{
    padding-left: 10px;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: inline-block;
    color: #8590a6;
    text-align: center;
}

.commentIcon{
    transform: translateY(15%);
}

.withIcon{
    transform: translateY(15%);
}

.actionBtn{
    margin-left: 0;
    padding-left: 10px;
    font-size: 14px;
    flex-shrink: 0;
    position: relative;
    display: inline-block;
}

.actionIcon{
    transform: translateY(10%);
}