.downloadWrapper {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: inherit;
}

.downloadRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83%;
  box-sizing: inherit;
}

.downloadLogo {
  display: block;
  width: 78px;
  height: 37px;
  background-image: url(https://pic2.zhimg.com/80/v2-8d3a4953cb75e7dbb38f1973466f9c1c.png);
  background-size: contain;
  box-sizing: inherit;
}

.downloadSlogan {
  margin-top: 28px;
  font-size: 24px;
  box-sizing: inherit;
  color: #777;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, Roboto, Segoe UI, Arial, sans-serif;
}

.downloadLink {
  background-color: #fff;
  border: 1px solid #0f88eb;
  color: #0f88eb;
  transition: all 0.5s;
  margin-top: 18px;
  display: block;
  width: 271px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
}

.footerRoot{
    background-image: linear-gradient(hsla(0,0%,100%,.09) 74%,rgba(0,156,238,.3));
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.footerImage{
    background-image: url(https://static.zhihu.com/open-in-app/assets/footer.8f6bcb9d.png);
    background-size: cover;
    bottom: -44px;
    height: 192px;
    left: 50%;
    margin-left: -145px;
    position: fixed;
    width: 290px;
}